/plugins/
/languages/continents-cities-pl_PL.mo
/languages/pl_PL.mo
/languages/pl_PL.po
/languages/admin-network-pl_PL.mo
/languages/admin-pl_PL.po
/languages/admin-network-pl_PL.po
/languages/admin-pl_PL.mo
/languages/continents-cities-pl_PL.po
/uploads
/upgrade
/themes/zadanie/assets/images/